@using TraversalCoreProje.CQRS.Results.DestinationResults
@model List<GetAllDestinationQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>CQRS Tur Verileri</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Şehir</th>
        <th>Gün Gece</th>
        <th>Fiyat </th>
        <th>Kapasite </th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.id</td>
            <td>@item.city</td>
            <td>@item.daynight</td>
            <td>@item.price</td>
            <td>@item.capacity</td>
            <td><a href="#" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Admin/DestinationCQRS/GetDestination/@item.id" class="btn btn-outline-success">Güncelle</a></td>

        </tr>
    }
</table>
<td><a href="#" class="btn btn-outline-primary">Yeni Tur Rotası Ekle</a></td>